# EditorConfig helps maintain consistent coding styles across editors and IDEs
# See https://EditorConfig.org for details

root = true

# C# files
[*.cs]
indent_style = space
indent_size = 4
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

# JSON files
[*.json]
indent_style = space
indent_size = 2
charset = utf-8
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown files
[*.md]
trim_trailing_whitespace = false
insert_final_newline = true

# YAML files
[*.yml]
indent_style = space
indent_size = 2
insert_final_newline = true

# Makefile
[Makefile]
indent_style = tab

# Python files
[*.py]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
